.service-container {
    width: 1024px;
    margin: 0 auto;
}

.service-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 2rem;
    align-items: center;
    padding-top: 5rem;
}

.row {
    padding: 45px;
    transition: ease .3s;
    cursor: pointer;
}

.row:hover {
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
}

.s img {
    height: 65px;
    width: 65px;
    background: #f75124;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.s.s-tow img {
    background: #baebcd;
}

.s.s-three img {
    background: #d9d1fa;
}

.s.s-four img {
    background: #faedce;
}

.row h3 {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2px;
}

.row h5 {
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 18px;
}

.row p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    text-align: justify;
}

.row .btn {
    margin: 20px 20px 20px 0;
}

.order {
    background: #205375;
    outline: none;
}

.order span {
    color: var(--bg-color);
}

/* Media Query */
@media (max-width: 1100px) {
    .service-container {
        width: 896px;
        padding: 35px;
    }
}

@media (max-width: 972px) {
    .service-container {
        width: 768px;
        padding: 35px;
    }
}

@media (max-width: 844px) {
    .service-container {
        width: 640px;
    }
}

@media (max-width: 716px) {
    .service-container {
        width: 512px;
    }
}

@media (max-width: 588px) {
    .service-container {
        width: 384px;
    }

    .row {
        padding: 35px;
    }

    .service-content {
        text-align: center;
        grid-template-columns: repeat(1, minmax(260px, auto));
    }

    .row .btn {
        margin: 12px;
    }
}

@media (max-width: 460px) {
    .service-container {
        width: 256px;
        padding: 25px;
    }

    .row {
        padding: 25px;
    }

    .service-content {
        grid-template-columns: repeat(1, minmax(200px, auto));
    }

    .row h3 {
        font-size: 1rem;
    }

    .row h5 {
        font-size: 0.6rem;
    }

    .service-content{
        padding-top: 2rem;
    }

    .order{
        padding: 10px 14px;
    }
}