.skills-container {
    width: 1024px;
    margin: 0 auto;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.sub-box {
    padding: 25px;
    transition: ease .3s;
    cursor: pointer;
}

.sub-img img {
    width: 60px;
    padding-bottom: 20px;
}

.sub-box h3 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.sub-box p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    text-align: justify;
}

.sub-box:hover {
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    transform: scale(1.1);
}

@media (max-width: 1100px) {
    .skills-container {
        width: 896px;
    }
}

@media (max-width: 972px) {
    .skills-container {
        width: 768px;
    }
}

@media (max-width: 844px) {
    .skills-container {
        width: 640px;
    }
}

@media (max-width: 716px) {
    .skills-container {
        width: 512px;
    }
}

@media (max-width: 588px) {
    .skills-container {
        width: 384px;
    }
}

@media (max-width: 460px) {
    .skills-container {
        width: 256px;
    }
    .sub-box h3{
        font-size: 1rem;
    }
}