.about-container {
    width: 1024px;
    margin: 0 auto;
}

.about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    align-items: center;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
}

.about-img {
    padding: 25px;
    display: flex;
    justify-content: center;
}

.about-img img {
    width: 312px;
    vertical-align: middle;
}

.about-text {
    padding: 35px;
    transition: ease 0.3s;
    cursor: pointer;
    text-align: justify;
}

.about-text h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 8px 0px 25px;
}

.about-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.about-text p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    padding-bottom: 45px;
    justify-content: center;
}

.about-text:hover {
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
}

/* Media Query */
@media (max-width: 1100px) {
    .about-container {
        width: 896px;
    }
}

@media (max-width: 972px) {
    .about-container {
        width: 768px;
    }
}

@media (max-width: 844px) {
    .about-container {
        width: 640px;
    }
}

@media (max-width: 716px) {
    .about-container {
        width: 512px;
    }
}

@media (max-width: 588px) {
    .about-container {
        width: 384px;
    }
}

@media (max-width: 460px) {
    .about-container {
        width: 256px;
    }

    .about-img img {
        width: 256px;
    }

    .about-text h2 {
        font-size: var(--h2-font)
    }

    .about-text h3 {
        font-size: 1rem;
    }
}