.contact-container {
  width: 1024px;
  margin: 0 auto;
  padding: 45px;
  background: #8067f0eb;
  border-radius: 12px;
  background-image: url(../../assets/intro.png);
  background: cover;
  text-align: center;
}

.contact-container h3 {
  font-size: 30px;
  font-weight: 500;
  padding-bottom: 3px;
  color: var(--bg-color);
}

.contact-container p {
  font-size: var(--p-font);
  color: var(--bg-color);
  line-height: 26px;
  padding-bottom: 25px;
}

.contact-container .action form input[type="text"] {
  width: 256px;
  padding: 10px 12px;
  margin: 10px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: var(--p-font);
}

.contact-container .action form input[type="email"] {
  width: 256px;
  padding: 10px 12px;
  margin: 10px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: var(--p-font);
}

.contact-container .action form textarea {
  width: 532px;
  border-radius: 12px;
  padding: 10px 12px;
  margin: 10px;
  background: var(--bg-color);
  color: var(--text-color);
  border: none;
  outline: none;
  font-size: var(--p-font);
  resize: vertical;
}

.other-contacts h4 {
  padding: 10px 0 5px;
  color: #ffffff;
  font-weight: 400;
}

.contact-options {
  width: fit-content;
  margin: 0 auto;
  justify-content: space-between;
}

.contact-options a {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #205375;
  font-size: var(--p-font);
  color: var(--bg-color);
  margin: 5px;
}

.contact-options a:hover {
  transform: scale(1.1);
  background: var(--main-color);
  transition: .5s;
}

.sent {
  visibility: visible;
  width: 300px;
  margin: 10px auto;
  padding: 5px 10px;
  align-items: center;
  color: var(--bg-color);
  background: #205375;
  transition: ease 0.5s;
}

.alert {
  width: 300px;
  margin: 10px auto 20px;
  padding: 5px 10px;
  align-items: center;
  color: var(--bg-color);
  background: var(--main-color);
  transition: ease 0.5s;
}

.none {
  display: none;
  transition: ease 0.5s;
}

/* Media Query */
@media (max-width: 1100px) {
  .contact-container {
    width: 896px;
  }
}

@media (max-width: 972px) {
  .contact-container {
    width: 768px;
  }
}

@media (max-width: 844px) {
  .contact-container {
    width: 640px;
  }

  .contact-container .action form input[type="text"] {
    width: 350px;
  }

  .contact-container .action form input[type="email"] {
    width: 350px;
  }

  .contact-container .action form textarea {
    width: 350px;
  }
}

@media (max-width: 716px) {
  .contact-container {
    width: 512px;
  }
}

@media (max-width: 588px) {
  .contact-container {
    width: 384px;
  }

  .contact-container .action form input[type="text"] {
    width: 256px;
  }

  .contact-container .action form input[type="email"] {
    width: 256px;
  }

  .contact-container .action form textarea {
    width: 256px;
  }

  .contact-container h3 {
    font-size: 24px;
  }

  .contact-container p {
    font-size: var(--p-font);
  }
}

@media (max-width: 460px) {
  .contact-container {
    width: 256px;
    padding: 25px;
  }

  .contact-container .action form input[type="text"] {
    width: 200px;
  }

  .contact-container .action form input[type="email"] {
    width: 200px;
  }

  .contact-container .action form textarea {
    width: 200px;
  }

  .contact-container h3 {
    font-size: 1rem;
  }

  .action .btn{
    margin: 0 auto;
  }
}