footer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #112B3C;
    padding: 30px 18%;
    display: flex;
}

footer ul {
    justify-content: center;
}

footer p {
    margin-top: 20px;
    text-align: center;
    font-size: var(--p-font);
    font-weight: 500;
    color: var(--secound-color);
}

.list-inline {
    display: flex;
    width: 100%;
}

.list-inline a {
    font-size: var(--p-font);
    color: var(--secound-color);
    font-weight: 500;
    padding: 10px 27px;
    display: block;
    transition: ease 0.40s;
}

.list-inline a:hover {
    transform: scale(1.1);
    color: var(--main-color);
}

.middle {
    width: 80%;
    text-align: center;
}

.third {
    text-align: right;
}

.third a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #205375;
    color: var(--bg-color);
    top: 50%;
    left: 50%;
}

.third a:hover {
    transform: scale(1.1);
    background: var(--main-color);
    transition: .5s;
}

/* Disclaimer */
.disclaimer {
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px 50px 50px 50px;
    transition: ease .40s;
    cursor: pointer;
    margin-top: 4rem;
}

.disclaimer:hover {
    transform: scale(1.02);
}

.disclaimer h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    color: var(--main-color);
}

.disclaimer h2 {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: var(--text-color);
}

.disclaimer h3 {
    font-size: 1.2rem;
}

.disclaimer p {
    font-size: var(--p-font);
    color: var(--secound-color);
    margin-bottom: 20px;
    text-align: justify;
}

.disclaimer a {
    font-weight: 500;
    display: inline-block;
    transition: ease 0.40s;
    margin-left: 10px;
    margin-right: 10px;
    color: #205375;
}

.disclaimer a:hover {
    transform: scale(1.1);
    color: var(--main-color);
}

.disclaimer ul {
    padding: 20px 30px;
}

.disclaimer li {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
    list-style-type: disc;
    margin-top: 10px;
    margin-bottom: 10px;
}

.disclaimer li::before {
    color: #205375;
}

@media (max-width: 1024px) {
    footer p {
        margin-top: 0px;
    }
}

@media (max-width: 900px) {
    .list-inline a {
        padding: 8px 20px;
    }
}

@media (max-width: 768px) {
    footer p {
        font-size: 12px;
    }

    .list-inline a {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .list-inline a {
        font-size: 8px;
    }

    footer p {
        font-size: 10px;
    }

    .third a {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 320px) {
    footer {
        padding: 30px 10%;
        justify-content: space-around;
    }

    footer p {
        font-size: 8px;
    }

    .list-inline a {
        font-size: 6px;
        padding: 6px 16px;
    }

    .middle {
        width: 90%;
    }

    .third {
        width: 5%;
    }
}