@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000;
    --secound-color: #a09dab;
    --main-color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    padding: 100px 18%;
}

span {
    color: var(--main-color);
}

.heading {
    text-align: center;
}

.heading h2 {
    font-size: var(--h2-font);
    font-weight: 500;
    margin: 7px 0px 20px;
    line-height: 1.1;
}

.heading h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.heading p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 28px;
}

.cta-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    grid-gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    text-align: center;
}

.wrap {
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    border-radius: 12px;
    padding: 50px 50px 50px 50px;
    transition: ease .3s;
    cursor: pointer;
}

.one {
    background: #baebcd;
}

.two {
    background: #d9d1fa;
}

.three {
    background: #faedce;
}

.wrap h3 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2px;
}

.wrap p {
    font-size: var(--p-font);
}

/* Media Query */
@media (max-width: 1200px) {
    :root {
        --h2-font: 38px;
    }
}

@media (max-width: 1024px) {
    :root {
        --h2-font: 34px;
    }
}

@media (max-width: 900px) {
    :root {
        --h2-font: 30px;
    }
}

@media (max-width: 480px) {
    section {
        padding: 50px 5%;
    }
}

@media (max-width: 320px) {
    :root {
        --h2-font: 1rem;
        --p-font: 14px;
    }

    header {
        padding: 20px 10%;
    }
}