nav {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    padding: 20px 0;
    background: transparent;
    transition: 0.3s;
}

.color {
    background-color: var(--bg-color);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.container {
    width: 1024px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    vertical-align: middle;
    margin: 0 auto;
}

.navlist {
    display: flex;
}

.navlist li {
    position: relative;
}

.navlist a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 0 16px;
}

.navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease 0.3s;
}

.navlist a:hover::after {
    width: 100%;
}

.menu-icon {
    font-size: 28px;
    color: var(--text-color);
    z-index: 1;
    cursor: pointer;
    display: none;
}

/* Media Query */
@media (max-width: 1100px) {
    .container {
        width: 896px;
    }
}

@media (max-width: 972px) {
    .container {
        width: 768px;
    }

    .menu-icon {
        display: block;
    }

    .navlist {
        position: absolute;
        top: 0;
        left: 0;
        width: 256px;
        height: 100vh;
        padding: 30px 0 0;
        flex-direction: column;
        background: rgba(256, 256, 256, 0.9);
        text-align: left;
        transition: all ease .30s;
    }

    .navlist a {
        display: block;
        padding: 10px 16px;
        color: var(--text-color);
    }

    .navlist a:hover {
        background: var(--bg-color);
        color: var(--main-color);
        border-right: 2px solid var(--main-color);
        border-left: 4px solid var(--main-color);
    }

    .navlist a::after {
        display: none;
    }

    .hide {
        left: -300px;
    }
}

@media (max-width: 844px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 716px) {
    .container {
        width: 512px;
    }
}

@media (max-width: 588px) {
    .container {
        width: 384px;
    }
}

@media (max-width: 460px) {
    .container {
        width: 256px;
    }

    .navlist {
        width: 128px;
    }
}